{% extends "base.html.twig" %}

{% block title %}
    Coffee Lover
{% endblock %}


{% block body %}
<div id="mainPictureDiv">
    <div>
        <h1>Coffee Lover</h1>
        <a href="#" class="btn btn-primary">Commander</a>

    </div>

</div>

{% endblock %}